<div class="row" id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">

              <div class="col-lg-3 col-md-6 footer-info">
                <p> <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5585999561080"><img src="static/img/clique-zap.png" width="250" height="90"></a></p>

              </div>

              <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Contato</h4>
                <p>
                  Rua Solon Pinheiro, 1580 <br>
                  José Bonifácio<br>
                  Fortaleza <br>
                  <strong>Telefone:</strong> (85) 98507-1080<br>
                  <strong>Email:</strong> curso@cursoananery.com.br<br>
                </p>

                <div class="social-links">
                  <a href="https://twitter.com/cursoananery" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/CursoAnaNery.Fortaleza/" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.instagram.com/cursoananery/" class="instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>HD3 Desenvolvimentos</strong>.
      </div>
      <div class="credits">
        Todos os direitos reservados a <a href="http://hd3desenvolvimento-com-br.umbler.net/" target="_blank">HD3</a>
      </div>
    </div>
</div>
