{% extends 'website/base.html' %}
{% load static %}

{% block main %}
{% include 'website/menu.html' %}

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" class="bg_video">
        <source src="../static/img/back-video.mp4" type="video/mp4">
    </video>

<div class="row">
    <div class="bg-inicial">
        <nav class="inicial">
           <h1><a href=""><img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Curso Ana Nery">
           </a></h1>

            <li><a href="https://cursoananery.com/pg/" target="_blank"><button type="button" class="myButton">ENTRAR</button></a>
            </li>
        </nav>
    </div>
    <figure id="slide">
        <img src="../static/img/cuidador.png" alt="img1">
        <img src="../static/img/injetaveis.png" alt="img2">
        <img src="../static/img/feridas.png" alt="img3">
        <img src="../static/img/coleta.png" alt="img4">
        <img src="../static/img/calculo.png" alt="img5">
    </figure>
</div>

{% endblock %}
